#global {
  background-color : #E0E0E0;
  width: 100%;
}

#global #gauche{
  float: left;
  width: 50%;
}

#global #droite{
   // width: 50%;
   margin-left: 60%;
}

h1 {
  color : #292929;
  text-align: center;
}

h3 {
  color : #7DD181
}

.card-goat {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 0%
}

.card-goat .img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.image {
  height: 150px;
}

.card-goat .card-goat-infos {
  padding: 16px;
}

.btn-ghost {
  color: #292929;
  border: 1px solid #7DD181;
  padding: 3px 10px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
        display: flex;
      }
      .col {
        flex: 1;
        padding: 1em;
        border: none;
      }
