<div class="footer d-flex justify-content-center align-items-center">
  <div class="footer-copyright">
    Nous sommes <i class="fas fa-heart"> </i> des chèvres !
  </div>
  <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
    </div>
</div>
