<h1> Vos réservations </h1>

<% @reservations.each do |resa| %>
  <br> <%= "Vous avez réservé #{resa.goat.name} du #{resa.start_date} au #{resa.end_date}" %>
<% end %>

<br> <%= link_to "Retour", goats_path %>
