.btn-green {
  color: white;
  text-align: center;
  border-radius: 4px;
  background: #7DD181;
  width : 200px;
  text-decoration: none;
  padding: 8px 24px,
}

.btn-green:hover {
  background: #7DD181;
  color: white;
  opacity: 90%;
  text-decoration: none;
}

.btn-center{
  margin: 0 auto;
  color: white;
  text-decoration: none;
}

.btn-mywhite {
  background: #fff;
  color: #7DD181;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  padding: 8px 24px;
}

.btn-mywhite:hover {
  background: #fff;
  color: #7DD181;
  opacity: 90%;
  text-decoration: none;
}

.btn-mywhite{
  margin: 0 auto;
}
