.btn-green {
  color: white;
  text-align: center;
  border-radius: 4px;
  background: #7DD181;
  width : 200px;
  text-decoration: none;
  padding: 8px 24px,
}

.btn-green:hover {
  background: #7DD181;
  color: white;
  opacity: 90%;
  text-decoration: none;
}

.btn-center{
  margin: 0 auto;
}


