.navbar-container {
  width: 100%;
  position: absolute;
  z-index: 100;
}

.navbar-lewagon {
  justify-content: space-between;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.blend {
  mix-blend-mode: exclusion;
}

.collapse ul {
  align-items: center;
}
