.carousel-item {
  height: 80vh !important;
}

.pv {
  background-color: #7DD181;
  padding: 20px;
  z-index: 1;
  color: #fff;
}

.pv h3 {
  padding: 20px;
  border-radius: 8px;
  z-index: 1;
  color: #fff;
}
