.carousel-item {
  height: 80vh !important;
}

// .carousel-item img {
//   height: auto !important;
//   width: 100% !important;
// }

.pv {
  background-color: #7DD181;
  padding: 20px;
  color: #fff;
}

.pv h3 {
  padding: 20px;
  border-radius: 8px;
  color: #fff;
}
