<h1> Bienvenue sur Air Goats </h1>

<br> <%= link_to "Mon compte", dashboard_path %>
<br>
<ul>
  <% @goats.each do |goat| %>
    <li> <%= link_to goat.name.capitalize, goat_path(goat) %> </li>
  <% end %>
</ul>



