<h1> Bienvenue sur Air Goats </h1>

<br> <%= link_to "Mon compte", dashboard_path %>

<ul>
  <% @goats.each do |goat| %>
    <li> <%= link_to goat.name, goat_path(goat) %> </li>
  <% end %>
</ul>

<br> <%= link_to "Ajouter une chèvre", new_goat_path %>


