// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  margin: 0px !important;
  min-height: 100vh !important;
}

.body-container {
  width: auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.container {
  width: auto;
  // padding-top: 50px;
  // padding-bottom: 50px;
}

* {
  box-sizing: border-box;
}

.page-container {
min-height: 100vh;
display:flex;
flex-direction: column;
}
.content-container {
flex-grow:1;
}
